<div class="container">

    <div class="row">    
        <div class="col">
            <h1>Inventario</h1>
        </div>
        
        <!--BOTONES DE INGRESO DE PRODUCTOS-->
        <div class="col">
            <div class="btn-group float-right">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target='#modalIngreso'>
                <fa-icon [icon]="faPlusCircle"></fa-icon> Producto Nuevo
            </button>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalReingreso">
                <fa-icon [icon]="faPlusCircle"></fa-icon> Producto Existente
            </button>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target='#modalEgreso'>
                <fa-icon [icon]="faSignOutAlt"></fa-icon> Egreso
            </button>
            </div> 
        </div>
    </div>
    
    <div class="row">
    <!--HEAD DE TABLA DE INVENTARIO-->
        <table class="table shadow table-hover">
        <thead class="thead-dark">
            <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Categoría</th>
            <th scope="col">Cantidad (Principal)</th>
            <th scope="col">Cantidad (Secundaria)</th>
            <th></th>
            </tr>
        </thead>
    <!--CUERPO DE TABLA DE INVENTARIO-->
        <tbody>
            <ng-container *ngFor ="let producto of listaProductos">
                <tr class="table-light" scope>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.descripcion }}</td>
                    <td>{{ producto.categoria }}</td>
                    <td>{{ producto.cantidadUnidadPrincipal }} {{ producto.unidadPrincipal }}</td>
                    <td>
                        <div *ngIf="producto.unidadSecundaria != null && producto.cantidadUnidadSecundaria != null; else sinSecundaria">
                        {{ producto.cantidadUnidadSecundaria }} {{ producto.unidadSecundaria }}
                        </div>
                        <!-- NG-TEMPLATE SE USA PARA ENGLOBAR EL BLOQUE ELSE DE UN NGIF -->
                        <ng-template #sinSecundaria>
                        N/A
                        </ng-template>
                    </td>
                    <td>
                        <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#modalInfoProducto" (click)="recibirInformacion(producto)" >
                            <fa-icon [icon]="faInfoCircle"></fa-icon> Detalles
                        </button>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
    
    
    </div>

    <!-- MODAL DE INFO -->
<div class="modal fade" id="modalInfoProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header bg-info">
        <h5 class="modal-title text-white" id="exampleModalLabel"><strong>{{ infoProducto.nombre }}</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        <table class="table table-sm">
            <tbody>
                <tr>
                <th>ID</th>
                    <td></td>
                    <td>{{ infoProducto.id }}</td>
                </tr>
                <tr *ngIf="infoProducto.serial != null">
                <th>Serial</th>
                    <td></td>
                    <td>{{ infoProducto.serial }}</td>
                </tr>
                <tr>
                <th>Categoría</th>
                    <td></td>
                    <td>{{ infoProducto.categoria }}</td>
                </tr>
                <tr>
                <th>Cantidad {{ infoProducto.unidadPrincipal }}</th>
                    <td></td>
                    <td>{{ infoProducto.cantidadUnidadPrincipal }}</td>
                </tr>
                <tr *ngIf="infoProducto.unidadSecundaria!=null && infoProducto.cantidadUnidadSecundaria!=null" >
                <th>Cantidad {{ infoProducto.unidadSecundaria }}</th>
                    <td></td>
                    <td>{{ infoProducto.cantidadUnidadSecundaria }}</td>
                </tr>
                <tr *ngIf="infoProducto.unidadSecundaria!=null && infoProducto.cantidadUnidadSecundaria!=null">
                <th>Relación</th>
                    <td></td>
                    <td>{{ infoProducto.ratioUnidades }} {{ infoProducto.unidadPrincipal }} conforman un(a) {{ infoProducto.unidadSecundaria }}</td>
                </tr>
                <tr *ngIf="infoProducto.ubicacion != null">
                <th>Ubicación</th>
                    <td></td>
                    <td>{{ infoProducto.ubicacion }}</td>
                </tr>
                <tr >
                <tr><th></th><td></td><td></td></tr>

            </tbody>
        </table>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
    </div>
    </div>
</div>
<!-- FIN DEL MODAL INFO -->
    </div>

    <!-- MODAL INGRESO DE PRODUCTO NUEVO EN INVENTARIO-->
    <div class="modal fade" id="modalIngreso" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <app-ingreso></app-ingreso>
    </div>
    
    <!-- MODAL INGRESO DE PRODUCTO EXISTENTE EN INVENTARIO-->
    <div class="modal fade" id="modalReingreso" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <app-reingreso></app-reingreso>>
    </div>

    <!-- MODAL EGRESO DE PRODUCTO EXISTENTE EN INVENTARIO-->
    <div class="modal fade" id="modalEgreso" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <app-egreso></app-egreso>>
    </div>


