<div class="container">
    <button data-toggle="modal" data-target="#pdfEgresos" class="btn btn-warning float-right">Exportar a PDF</button>
    <div class="row">
        <div class="col">
            <h1>Egresos</h1>
        </div>
    </div>

    <div class="row">
    <!--HEAD DE TABLA DE EGRESOS-->
        <table class="table shadow table-hover">
        <thead class="thead bg-warning ">
            <tr>
            <th scope="col-3">Nombre</th>
            <th scope="col-2">Inventario (Previo)</th>
            <th scope="col-1">Cantidad</th>
            <th scope="col-2">Inventario (Posterior)</th>
            <th scope="col-2">Fecha</th>
            </tr>
        </thead>
    <!--FILTROS DE TABLA DE EGRESOS-->
        <thead class="thead bg-warning">
            <tr>
                <th scope="col"><input #filtroNombre="ngModel" class="w-75 form-control form-control-sm" ngModel type="text" placeholder="Filtro por nombre"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
    <!--CUERPO DE TABLA DE EGRESOS-->
        <tbody>
            <ng-container *ngFor ="let egreso of egresos">
                <tr *ngIf="(egreso.nombre.toLocaleLowerCase().includes(filtroNombre.value.toLocaleLowerCase()) || filtroNombre.value=='')"
                class="table-light" scope>
                    <td>{{ egreso.nombre }}</td>
                    <td>{{ egreso.cantidadInventarioUnidadPrincipal + egreso.cantidad }}</td>
                    <td>{{ egreso.cantidad }}</td>
                    <td>{{ egreso.cantidadInventarioUnidadPrincipal }}</td>
                    <td>{{ egreso.fecha | date:'short'}}</td>
                </tr>
            </ng-container>
        </tbody>
    </table>
    </div>

</div>

    <!-- MODAL DE PDF DE EGRESOS-->
    <div class="modal fade" id="pdfEgresos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Exportar a PDF</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body" id='elemento-a-exportar'>
            <div class="row">
                <h4>Ingresos</h4>
            </div>
            <div class="row">
                <!--Tabla de inventario en donde se muestra el inventario general-->
                <table class="table table-sm letras">
                    <thead class="thead bg-warning">
                    <tr>
                        <th scope="col-3">Nombre</th>
                        <th scope="col-2">Inventario (Previo)</th>
                        <th scope="col-1">Cantidad</th>
                        <th scope="col-2">Inventario (Posterior)</th>
                        <th scope="col-2">Fecha</th>
                    </tr>
                    </thead>
    
                    <tbody>
                    <ng-container *ngFor="let itemPDF of egresos">
                        <tr>
                            <td>{{ itemPDF.nombre }}</td>
                            <td>{{ itemPDF.cantidadInventarioUnidadPrincipal + itemPDF.cantidad }}</td>
                            <td>{{ itemPDF.cantidad }}</td>
                            <td>{{ itemPDF.cantidadInventarioUnidadPrincipal }}</td>
                            <td>{{ itemPDF.fecha | date:'short'}}</td>
                        </tr>
                    </ng-container>
                    </tbody>
                </table>
            </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" (click)="descargarPDF()" class="btn btn-warning">Exportar</button>
            </div>
        </div>
        </div>
    </div>