<div class="container">
<div class="modal-dialog modal-lg">
    <div class="modal-content">

    <!--Modal de ingreso de producto-->

    <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="exampleModalLabel">Ingreso</h5>
        <button type="button" class="close text-white" data-dismiss="modal" (click)="cerrarModal()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <form #f='ngForm'>
        <div class="modal-body">
            <!--Nombre de producto-->
            <div class="form-group">
                <h3>Item</h3>
            <div class="row">
                <div class="col-4">
                    <label>Nombre</label>
                    <input #nombre="ngModel" required type="text" name="nombre" [(ngModel)]="nuevoProducto.nombre" class="form-control">
                </div>
                <div class="col-3">
                    <!--Label y Select del tipo de producto-->
                    <label for="exampleFormControlSelect1">Categoría</label>
                    <select #categoria="ngModel" required class="form-control" name="categoria" [(ngModel)]="nuevoProducto.categoria">
                        <option *ngFor="let categoria of listaCategorias" value="{{categoria.nombre}}" > {{ categoria.nombre }}</option>
                    </select>
                </div>
                <div class="col-2">
                    <label>Serial</label>
                    <input type="text" name="serial" class="form-control" [(ngModel)]="nuevoProducto.serial" aria-describedby="emailHelp">
                    </div>
                <div class="col-3">
                    <label>Precio</label>
                    <div class="input-group">
                    <input min=1 onkeypress="return event.charCode >= 49" type="number" name="precio" [(ngModel)]="nuevoProducto.precio" class="form-control">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon1">$</span>
                    </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="form-group">
            <div class="row">
                <div class="col-4">
                    <!--Cantidad de producto-->
                    <label for="exampleInputPassword1">Cantidad y Unidades Principales</label>
                    <div class="input-group">
                        <input min=1 onkeypress="return event.charCode >= 48" required type="number"  [(ngModel)]="nuevoProducto.cantidadUnidadPrincipal" name="cantidadP" class="form-control">
                        <select required type="text" placeholder="0" [(ngModel)]="nuevoProducto.unidadPrincipal" name="unidadPrincipal" class="form-control">
                        <option *ngFor="let unidad of listaUnidades" value="{{unidad.nombre}}" > {{ unidad.nombre }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <!--Cantidad de producto-->
                    <label for="exampleInputPassword1">Relacion y Unidad Secundaria</label>
                    <div class="input-group">
                        <input min=1 onkeypress="return event.charCode >= 48" 
                        required type="number"  [(ngModel)]="nuevoProducto.ratioUnidades" name="ratio" class="form-control">
                        <select required type="text" placeholder="0" [(ngModel)]="nuevoProducto.unidadSecundaria" name="unidadS" class="form-control">
                        <ng-container *ngFor="let unidad of listaUnidades">
                            <option *ngIf='unidad.nombre !=nuevoProducto.unidadPrincipal' value="{{unidad.nombre}}" > {{ unidad.nombre }}</option>
                        </ng-container>
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <label>Ubicación en almacén</label>
                    <select type="text" name="ubicacion" [(ngModel)]="nuevoProducto.ubicacion" class="form-control" aria-describedby="emailHelp">
                        <option></option>
                    </select>
                </div>

            </div>
            <div class="row">
                <div class="col-8">
                    <!--Condicion para colocar fecha de vencimiento (Producto o consumible unicamente)-->
                    <div class="form-group">
                        <label>Descripción</label>
                        <input #descipcion="ngModel" required type="text" name="nombre" [(ngModel)]="nuevoProducto.descripcion" class="form-control"> 
                    </div>
                </div>
                <div class="col-4">
                    <!--Condicion para colocar fecha de vencimiento (Producto o consumible unicamente)-->
                    <div class="form-group">
                        <label>Vencimiento</label>
                        <input class="form-control" name="vencimiento" type="date">
                    </div>
                </div>
            </div>
            </div>

        </div>

    <!--Footer de Modal con botones de cerrar e ingresar-->
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cerrarModal()" data-dismiss="modal">
            Cerrar
        </button>
        <!-- !f.valid significa cuando el form no sea valido -->
        <button data-dismiss="modal" type="button" (click)="onSubmit()" class="btn btn-primary">
            Ingresar
        </button>
    </div>
    </form>

    </div>
</div>
</div>
