<div class="container">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
    
        <!--MODAL DE EGRESO DE PRODUCTO-->
    
        <div class="modal-header bg-warning">
            <h5 class="modal-title" id="exampleModalLabel">Egreso</h5>
            <button type="button" class="close" data-dismiss="modal" (click)='borrarForm()' aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    
        <form #f='ngForm' >
            <div class="modal-body">
                <div class="form-group">
                    <h3>Item</h3>
                    <div class="row">
                        <div class="col-3">
                            <label for="exampleFormControlSelect1">Categoría</label>
                            <select #selectCategoria="ngModel" name="selectCategoria" required class="form-control" ngModel >
                                <option *ngFor="let categoria of listaCategorias" value="{{categoria.nombre}}" >{{ categoria.nombre}}</option>
                            </select>
                        </div>
                    <div class="col-3">
                        <label>Nombre</label>
                        <select [(ngModel)]='idProductoElegidoEgreso' name="categoria" required class="form-control">
                            <ng-container *ngFor="let producto of listaProductos" >
                            <option *ngIf="producto.categoria == selectCategoria.value" value='{{producto.id}}'>{{ producto.nombre }}</option>
                            </ng-container>
                        </select>
                    </div>
                    <div class="col-3">
                        <!--CANTIDAD DE PRODUCTO EXISTENTE-->
                        <label for="exampleInputPassword1">Cantidad Existente</label>
                        <p *ngIf='idProductoElegidoEgreso!=null' >{{ listaProductos[regresarIndice()].cantidadUnidadPrincipal }} {{ listaProductos[regresarIndice()].unidadPrincipal }}</p>
                    </div>
                    <div *ngIf='idProductoElegidoEgreso!=null' class="col-3">
                        <!--CANTIDAD DE PRODUCTO A EGRESAR-->
                        <label for="exampleInputPassword1">Cantidad a Ingresar</label>
                        <div class="input-group">
                            <input min=1 onkeypress="return event.charCode >= 48"
                            required type="number"  name="cantidad" class="form-control"
                            [(ngModel)]="cantidadSeleccionadaEgreso"
                            [max]='listaProductos[regresarIndice()].cantidadUnidadPrincipal'>
                            
                            <select required type="text" placeholder="0" name="unidades" class="form-control" [(ngModel)]="unidadSeleccionadaEgreso">
                                <ng-container *ngIf='idProductoElegidoEgreso!=null' >
                                    <option value="{{regresarUnidadPrincipal(idProductoElegidoEgreso)}}"> {{regresarUnidadPrincipal(idProductoElegidoEgreso)}} </option>
                                    <option value="{{regresarUnidadSecundaria(idProductoElegidoEgreso)}}"> {{regresarUnidadSecundaria(idProductoElegidoEgreso)}} </option>
                            </ng-container>
                            </select>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
    
            <!--Footer de Modal con botones de cerrar e ingresar-->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)='borrarForm()' >Cerrar</button>
                <!-- !f.valid significa cuando el form no sea valido -->
                <button data-dismiss="modal" type="button" class="btn btn-warning" 
                (click)="egresarProducto()">
                Egresar
                </button>
            </div>
        </form>
    
        </div>
    </div>
    </div>